<%- include('partials/header'); -%>

<h1><%=CName%>(<%=syml%>)</h1>
<br><br>
<strong>Latest Price: </strong>$<%=lp%>
<br><br>
<strong>Previous Close: </strong>$<%=pc%>
<br><br>
<strong>Change Percent: </strong><%=cp%>
<br><br>
<strong>Market Cap: </strong>$<%=mc%>
<br><br>
<strong>Year to Date Change: </strong><%=ytdc%>
<br><br>
<strong>52 Week High: </strong><%=wh%>
<br><br>
<strong>52 Week Low: </strong><%=wl%>
<br class="last">
<%- include('partials/footer'); -%>
